.DS_Store
.env*
.git
.gitignore
.cache
.dockerignore

.bundle
README.md
Dockerfile

log/*
tmp/*
!log/.keep
!tmp/.keep
tmp/pids/*
!tmp/pids/.keep

public/assets/*
storage/*

config/master.key

public/packs
